body{

position: absolute;
width: 550px;
height: 550px;
left: 62px;
top: 64px;
background: #1F2937;

}

span{
    color:white;
}

h1{
    color:#4ADF86;
}

h4{
    color:#D5D4D8;
}

#myForm{
    margin: 40px;
    display: center;
    background-color: #273549;
}

#horz{
    color:#D1D5DB;
}

#myPar{
    color:white;
}
  
.pw-display{
      align-items:center; 
      background:#273549;
      height:2.5em;
      width: 12em;
      color:#5DEF92;
      padding:0.4em 0.8em;
      border-radius: 6px;
  }

.copy{
    margin: 0 !important;
}




  