body{

position: relative;
width: 550px;
height: 550px;
left: 62px;
top: 64px;
background: #1F2937;

}

span{
    color:white;
}

h1{
    color:#4ADF86;
}

h4{
    color:#D5D4D8;
}

#horz{
    color:#D1D5DB;
    position: relative;
}

#myPar{
    color:white;
}
  
.pw-display{
      background:#273549;
      height:2.5em;
      width: 20em;
      color:#5DEF92;
      padding: 5px;
      border-radius: 6px;
      display:inline-block;
      position: relative;
      text-align: center;
      align-items: left;
  }

.copy{
    position: absolute !important;
    margin-bottom: 30px;
    align-items: right;
}





  