#labelF{

    color:#9CA3AF;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.2;
}

#submit{
    margin-top: 10px;
}